/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$width: 700px; // Width of the content area

$padding_20px: 20px; // For consistent padding
$padding_10px: 10px; // For consistent padding


$grey: #ededed; // Background color
$darkgrey: #444;
$white: #fff;
$green: #49D664;

$headerlineheight: 34px;
$bosluk_icerik_alt: 100px;

$renk_turkcellmavisi: #3399cc; // Primary color for buttons and links
$renk_mavigri: #99aabb;

$kutucukgenislik:  220px;
$kutucukyukseklik: 300px;

$thumbgenislik:200px;
$thumbyukseklik:200px;