/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$grey: #f6f6f6; // Background color
$darkgrey: #999;
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$primary-color: #3399cc; // Primary color for buttons and links
$green: #2ECC71;