---
layout: default.hbs
subject: Takım başvurunuzu aldık!
---
<span class="preheader">Turkcell Müzik Maratonu başvurunuzu aldık.</span>
<table class="main" cellpadding="0" cellspacing="0">
    <tr class="alert alert-tmm">
        <td>
            <a href="https://gelecegiyazanlar.turkcell.com.tr/" target="_blank">
                <img src="https://gelecegiyazanlar.turkcell.com.tr/sites/default/files/icerik/mail-logo.png" alt="Geleceği Yazanlar"/>
            </a>
        </td>
    </tr>
    <tr>
        <td class="content-wrap">
            <table width="100%" cellpadding="0" cellspacing="0">

                <tr>
                    <td>
                        Merhaba,
                        <br>
                        Az önce <strong>[entityform:field-tmm-takimadi]</strong> adına <a href="{{ links.maratonlink }}">Turkcell Müzik Maratonu</a>'na yaptığın <strong>2 kişilik</strong> takım başvurusunu başarıyla kaydettik!
                        <br>
                        <br>
                        <h3>Başvuru özeti</h3>
                        <p>[entityform:field_tmm_takimadi] - <span class="grinot">takım adı</span></p>
                        <p>[entityform:user:name]</p>
                        <p>[entityform:entityform-id] - <span class="grinot">başvuru numarası</span></p>
                        <p>[entityform:field-tmm-ikinciuyeadsoyad] - <span class="grinot">ikinci takım üyesi</span></p>
                        <p style="font-size:.86em;color:#777;">Düzeltmen gereken bir şey mi var? <a href="{{ links.basvurulink }}" target="_blank" style="font-size:.86em;color:#777;">Başvuru sayfası</a>na git</p>
                        <br>
                        <a href="{{ links.apidocslink }}" class="btn btn-green" target="_blank">Fizy ve Dakick API'leri</a>
                        <br>
                        <br>
                        İyi kodlamalar!
                        <br>
                        Geleceği Yazanlar Ekibi
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>